# Tugas Untuk menghitung jarak data

Nama  : Oki Bagus Rahamat Prakoso

NIM   : 210411100183

Kelas : Penambangan Data-C

**Code untuk Membaca file csv dari url github dan menampikan tabel datanya**

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import pairwise_distances
df = pd.read_csv('https://gist.githubusercontent.com/okiokib/ad7f222c85a6f797944bbd532e97a89f/raw/7ded0d317a181492757ad0e37abe38ef150c5005/mix_data.csv')
df

    Nama  Umur Jenis Kelamin         Status Memiliki Anak Pendidikan
0    Ali    32     Laki-laki        Menikah            Ya    Sarjana
1   Budi    45     Laki-laki  Belum Menikah         Tidak        SMA
2  Citra    27     Perempuan        Menikah            Ya         S1
3  Dinda    23     Perempuan  Belum Menikah            Ya         D3
4  Erwin    38     Laki-laki        Menikah         Tidak        SMA

**Penjelasan Tipe Data :**

*   Kolom "Umur" adalah tipe data numerik karena nilainya berupa angka.
*   Kolom "Jenis Kelamin" dan "Status Pernikahan" adalah tipe data kategorical/nominal karena nilainya terdiri dari kategori atau label.
*  Kolom "Memiliki Anak" adalah tipe data biner asimetris karena nilainya hanya bisa berupa Ya atau Tidak.
*  Kolom "Umur" dan "Tingkat Pendidikan" adalah tipe data ordinal karena nilainya dapat diurutkan secara teratur.

**Code untuk menggabungkan atribut yang berbeda ke dalam matriks ketidaksamaan tunggal**

In [ ]:
X = df[['Umur', 'Jenis Kelamin', 'Status', 'Memiliki Anak', 'Pendidikan']].copy()
X['Jenis Kelamin'] = pd.Categorical(X['Jenis Kelamin']).codes
X['Status'] = pd.Categorical(X['Status']).codes
X['Memiliki Anak'] = pd.Categorical(X['Memiliki Anak']).codes
X['Pendidikan'] = pd.Categorical(X['Pendidikan'], categories=['SMA', 'D3', 'S1', 'S2', 'S3'], ordered=True).codes

**Code untuk menghitung matriks ketidaksamaan dengan skala interval antara [0,0,1.0]**

In [ ]:
dist_matrix = pairwise_distances(X, metric='manhattan') / max(pairwise_distances(X, metric='manhattan').flatten())

**Code untuk menampilkan matriks ketidaksamaan**

In [ ]:
print(dist_matrix)

[[0.   0.64 0.36 0.52 0.32]
 [0.64 0.   0.92 1.   0.32]
 [0.36 0.92 0.   0.24 0.6 ]
 [0.52 1.   0.24 0.   0.76]
 [0.32 0.32 0.6  0.76 0.  ]]